/.idea
/.vscode
/vendor
/node_modules
/services/voice-gateway/node_modules
/services/voice-gateway/dist
/.phpunit.cache
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/.env
/.env.*
!/.env.example
*.sqlite
*.sql
*.log
/public/hot
